@font-face {
    font-family: "oxygen";
    src: url("./assets/fonts/Oxygen/Oxygen-Bold.ttf");
    src: url("./assets/fonts/Oxygen/Oxygen-Light.ttf");
    src: url("./assets/fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
    font-family: "zcool-kuaile";
    src: url("./assets/fonts/ZCOOL-KuaiLe/ZCOOLKuaiLe-Regular.ttf");
}


.mytext {
 height: 206pt;
 width: 95%;
 scroll-behavior: initial;
 border-radius: 10pt;
 padding-left: 10pt;
 padding-top: 8pt;
 padding-right: 10pt;
 padding-bottom: 10pt;
 font-family: cursive;
 font-size: 11px;
}

.mytext::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.mytext::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.mytext::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.mytext::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
